django==4.2.6
django-cors-headers==4.3.1
psycopg[binary]==3.1.12
django-ninja==0.22.2
django-ninja-extra==0.19.7
whitenoise==6.6.0
environs[django]==9.5.0
gunicorn==21.2.0
redis==5.0.1
uvicorn==0.23.2
pyjwt==2.8.0
daphne==4.0.0
