{% extends 'admin-layout.html' %}
{% load i18n %}
{% block title %}{{ voxpop.title }} - Voxpop Admin Interface{% endblock %}
{% block content %}
<h1>{{ voxpop.title }}</h1>
			<div id="description">
				<p>{{ voxpop.description }} </p>
				<p>{{ voxpop.starts_at }} - {{ voxpop.expires_at }} </p>
				<p><a href="edit" role="button">{% trans "edit"|capfirst %}</a></p>
			</div>
			<div id="adminQuestionLists" data-voxpop-uuid="{{ voxpop.uuid }}"{% if voxpop.is_moderated %} data-voxpop-is-moderated{% endif %}>
				{% csrf_token %}
				{% for key, values in questions.items %}
				<details{% if key == "new" or key == "approved" %} open{% endif %}>
					<summary>{% trans key|capfirst %}</summary>
					<div id="{{ key }}Questions">{% for question in values %}
						<div data-voxpop-question-uuid="{{ question.uuid }}">
							<blockquote>{{ question.text }}</blockquote>
							<div class="displayName">{{ question.display_name }}</div>
							<div class="votes"><span>{{ question.vote_count }}</span> {% trans "vote(s)" %}</div>
							<div class="createdAt">{{ question.created_at.time }}</div>
							<div class="questionActions">
								<button type="button" class="disapprove" data-state="new">{% trans "disapprove"|capfirst %}</button>
								<button type="button" class="approve" data-state="approved">{% trans "approve"|capfirst %}</button>
								<button type="button" class="markAnswered" data-state="answered">{% trans "mark as answered"|capfirst %}</button>
								<button type="button" class="markUnanswered" data-state="approved">{% trans "mark as unanswered"|capfirst %}</button>
								<button type="button" class="restore" data-state="new">{% trans "restore"|capfirst %}</button>
								<button type="button" class="discard" data-state="discarded">{% trans "discard"|capfirst %}</button>
							</div>
						</div>{% endfor %}
					</div>
				</details>{% endfor %}
			</div>
			<p>{% trans "To embed this Voxpop, copy the following and insert into your html:"|capfirst %}</p>
			<details id="embedCode">
				<summary>{%trans "embed code"|capfirst %}</summary>
				<button type="button" class="copyToClipboard">{% trans "copy"|capfirst %}</button>
				<pre><code class="html">&lt;div data-voxpop-uuid="{{ voxpop.uuid }}" data-voxpop-host="{{ request.META.HTTP_HOST }}"&gt;&lt;/div&gt;
&lt;script src="//{{ request.META.HTTP_HOST }}/static/voxpop.js"&gt;&lt;/script&gt;</code></pre>
			</details>
			<p><a href="{% url 'voxpop:admin' %}">{% trans "return"|capfirst %}</a></p>
			<template id="questionTemplate">
				<div data-voxpop-question-uuid="">
					<blockquote><!-- text --></blockquote>
					<div class="displayName"><!-- display_name --></div>
					<div class="votes"><span>0</span> {% trans "vote(s)" %}</div>
					<div class="createdAt"><!-- created_at.time --></div>
					<div class="questionActions">
						<button type="button" class="disapprove" data-state="new">{% trans "disapprove"|capfirst %}</button>
						<button type="button" class="approve" data-state="approved">{% trans "approve"|capfirst %}</button>
						<button type="button" class="markAnswered" data-state="answered">{% trans "mark as answered"|capfirst %}</button>
						<button type="button" class="markUnanswered" data-state="approved">{% trans "mark as unanswered"|capfirst %}</button>
						<button type="button" class="restore" data-state="new">{% trans "restore"|capfirst %}</button>
						<button type="button" class="discard" data-state="discarded">{% trans "discard"|capfirst %}</button>
					</div>
				</div>
			</template>
			<script src="/static/admin.js"></script>
{% endblock %}
