{% extends 'layout.html' %}
{% block title %}{% if voxpop == None %}Voxpop{% else %}{{ voxpop.title }}{% endif %}{% endblock %}
{% block content %}
{% if voxpop == None %}
<h1>Voxpop</h1>
<p>Der er ingen aktive voxpops for denne organisation.</p>
{% else %}
<h1>{{ voxpop.title }}</h1>
<p>{{ voxpop.description }}</p>
<div data-voxpop-uuid="{{ voxpop.uuid }}" data-voxpop-host="">Afventer Voxpop…</div>
<script src="/static/voxpop.js"></script>
<!--<script src="/static/login.js"></script>-->
{% endif %}
{% endblock %}
