<!DOCTYPE html>{% load static %}
<html lang="{{ lang }}">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=1.0">
        <meta name="apple-mobile-web-app-title" content="Voxpop">
		<link rel="stylesheet" href="{% static 'admin.css' %}">
	</head>
	<body>
        <header><div>Voxpop Admin</div></header>
        {% if messages %}
        <div id="messages">
            <ul>
                {% for message in messages %}<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}
            </ul>
        </div>
        {% endif %}
		<main><div>
            {% block content %}{% endblock %}
		</div></main>
	</body>
</html>
