<!DOCTYPE html>{% load static %}
<html lang="{{ lang }}">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="Stylesheet" href="{% static 'style.css' %}">
	</head>
	<body>

        {% if messages %}
        <div id="messages">
            <ul>
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

		<main>
            {% block content %}{% endblock %}
		</main>
	</body>
</html>
