@charset "utf-8";
/* This stylesheet is divided into sections as defined by SMACSS. http://smacss.com/ */

/** Load WebFonts **/

/** Base Rules **/

/** Layout Rules **/

div[data-voxpop-uuid] {
  position: relative;
}

div[data-voxpop-uuid]::before {
  position: absolute;
  right: 5px;
  top: -25px;
}

@media (min-width: 640px) {
  div[data-voxpop-uuid] form {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 0.5em 1em;
  }
}

div[data-voxpop-uuid] form h3 {
  grid-column-start: 1;
  grid-column-end: -1;
}

div[data-voxpop-uuid] blockquote {
  margin: 0;
  overflow-wrap: anywhere;
}

div[data-voxpop-question-uuid] {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 0 1em;
  margin-bottom: 0.5em;
}

div[data-voxpop-question-uuid]:hover {
  background-color: rgba(255,255,255,0.7);
  box-shadow: 0 0 5px 5px #fff;
}

div[data-voxpop-question-uuid] .displayName {
  display: none;
}
div[data-voxpop-question-uuid] .displayName:not(:empty)::before {
  content: "- ";
}

div[data-voxpop-question-uuid] button {
  padding: 0 8px;
}

div[data-voxpop-question-uuid] button::before {
  content: "↑";
}

/** Module Rules **/

/** State Rules **/
div[data-voxpop-uuid]::before {
  content: '';
  background-color: lightgray;
  border: 1px solid grey;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
div[data-voxpop-uuid].live::before {
  background-color: #0f0;
}
div[data-voxpop-uuid].disconnected::before {
  background-color: #f00;
}

div[data-voxpop-question-uuid].answered {
  opacity: 0.5;
}
div[data-voxpop-question-uuid].answered button {
  visibility: hidden;
}


/** Theme Rules **/
